<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      </div>
        <div class="navbar-nav">
          <% if (user) { %>
            <form class="form-inline" action="/logout?_method=DELETE" method="POST">
              <label class="nav-item text-dark font-weight-bold">Logged In As: <%= user.email %> </label>
              <button class="btn nav-item btn-success" type="submit">Log Out</button>
            </form>
            <% } else { %>
              <a class="nav-item nav-link" href="/register">New user? Register here</a>
              <a class="nav-item nav-link" href="/login">Existing user? Log in here</a>
          <% } %>
    </div>
  </nav>
</header>